<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SPA Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="\.(png|jpg|jpeg|gif|svg)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="200.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <!-- IIS... really... -->
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".ttf" />
            <remove fileExtension=".svg" />
            <remove fileExtension=".eot" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".eot" mimeType="vnd.ms-fontobject" />
            <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File">
            <remove statusCode="400" />
            <remove statusCode="401" />
            <remove statusCode="403" />
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="400" path="errors\400\index.html" />
            <error statusCode="401" path="errors\401\index.html" />
            <error statusCode="403" path="errors\403\index.html" />
            <error statusCode="404" path="errors\404\index.html" />
            <error statusCode="500" path="errors\500\index.html" />
        </httpErrors>
    </system.webServer>
</configuration>
